.env
.env*.local

node_modules/
.next/
out/
dist/

*.log
*.err.log
telegram-reminder-worker.log
telegram-reminder-worker.err.log

prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite-journal

tsconfig.tsbuildinfo

.DS_Store
Thumbs.db
